<div id="content-wrapper">

        <div class="container-fluid">

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header" style="font-weight:bold">
              기초소재 MEGA TB 영역별 상세
              <a class="btn btn-primary" href="#" style="float:right">조회</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                  <thead>
                      <tr align ="center">
                          <p><th colspan = "4">Mega(N)</td></p>
                      </tr>
                    <tr>
                      <th></th>
                      <th>PI,SI,PMO,이행</th>
                      <th>SM</th>
                      <th>기타(BD,BE,팀장)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>투입 인원</th>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                        <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                            <option value="2018">2018</option><option value="2019">2019</option></select>년 
                            <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                                <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                                <option value="11">11</option><option value="12">12</option></select>월 계획</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                    <tr>
                        <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                            <option value="2018">2018</option><option value="2019">2019</option></select>년 
                            <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                                <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                                <option value="11">11</option><option value="12">12</option></select>월 계획 TBD</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                     </tr>

                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                        <tr align ="center">
                            <p><th colspan = "8">Mega(Y)본부/부문별</td></p>
                        </tr>
                      <th></th>
                      <th>재료부문</th>
                      <th>정보전자</th>
                      <th>기초소재</th>
                      <th>생명과학</th>
                      <th>팜한농</th>
                      <th>안전환경</th>
                      <th>경영관리</th>
                    </thead>
                    <tbody>
                      <tr>
                      <th>투입인원</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        </tr>
                        <tr>
                            <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                                <option value="2018">2018</option><option value="2019">2019</option></select>년 
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                                    <option value="11">11</option><option value="12">12</option></select>월 계획</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                            <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                                <option value="2018">2018</option><option value="2019">2019</option></select>년 
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                                    <option value="11">11</option><option value="12">12</option></select>월 계획 TBD</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                    <thead>
                        <tr align ="center">
                            <p><th colspan = "14">Mega(Y)영역별</td></p>
                        </tr>
                      <th></th>
                      <th>기준정보</th>
                      <th>MES</th>
                      <th>QMS</th>
                      <th>ERP</th>
                      <th>DW</th>
                      <th>SCM</th>
                      <th>EMS</th>
                      <th>PLM</th>
                      <th>인프라</th>
                      <th>PMO</th>
                      <th>경영관리</th>
                      <th>안전환경</th>
                      <th>WMS</th>
                  </thead>
                  <tbody>
                    <tr>
                      <th>투입인원</th>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
                  <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                      <option value="2018">2018</option><option value="2019">2019</option></select>년 
                      <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                          <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                          <option value="11">11</option><option value="12">12</option></select>월 계획</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
              </tr>
              <th><select class="custom-select custom-select-sm form-control form-control-sm" style="width:80px;font-weight:bold">
                    <option value="2018">2018</option><option value="2019">2019</option></select>년 
                    <select class="custom-select custom-select-sm form-control form-control-sm" style="width:50px;font-weight:bold">
                        <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                        <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" selected="selected">9</option><option value="10">10</option>
                        <option value="11">11</option><option value="12">12</option></select>월 계획 TBD</th>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
          </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>