<!DOCTYPE html>
<html lang="en">
  <% include ./header.ejs %>

  <body id="page-top">
    <% include ./top_menu.ejs %>
    <% include ./side_menu.ejs %>
    <% include ./detail1.ejs %>
    <% include ./footer.ejs %>
  </body>

</html>
