<!DOCTYPE html>
<html lang="en">
  <% include ./header.ejs %>

  <body id="page-top">
    <% include ./top_menu.ejs %>
    <% include ./side_menu.ejs %>
   

    <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">기초소재 Mega TB 영역별 상세</li>
          </ol>

          <!-- Area Chart Example-->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-chart-bar"></i>
                  기초소재 MEGA TB 영역별 상세(차트)</div>
                <div class="card-body">
                  <canvas id="myBarChart" width="100%" height="50"></canvas>
                </div>

              </div>
            </div>
            <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header" style="font-weight:bold">
                  기초소재 MEGA TB 영역별 상세(표)
                  <a class="btn btn-primary" href="#" style="float:right">조회</a>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th></th>
                          <th>인프라</th>
                          <th>MES</th>
                          <th>WMS</th>
                          <th>QMS</th>
                          <th>ERP</th>
                          <th>DW</th>
                          <th>합계</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th>
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:90px;font-weight:bold">
                                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" >9</option><option value="10">10</option>
                                    <option value="11" selected="selected">11</option><option value="12">12</option></select>월 </th>
                          <td>1</td>
                          <td>15</td>
                          <td>4</td>
                          <td>6</td>
                          <td>0</td>
                          <td>10</td>
                          <td>36</td>

                        </tr>
                        <tr>
                            <th>
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:90px;font-weight:bold">
                                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
                                    <option value="11" >11</option><option value="12" selected="selected">12</option></select>월 </th>
                          <td>2</td>
                          <td>19</td>
                          <td>9</td>
                          <td>3</td>
                          <td>1</td>
                          <td>2</td>
                          <td>36</td>
                          </tr>
                        <tr>
                            <th>
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:90px;font-weight:bold">
                                    <option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9" >9</option><option value="10">10</option>
                                    <option value="11">11</option><option value="12">12</option></select>월 </th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>13</td>
                          <td>2</td>
                          <td>2</td>
                          <td>17</td>
                         </tr>

                         <tr>
                            <th>
                                <select class="custom-select custom-select-sm form-control form-control-sm" style="width:90px;font-weight:bold">
                                    <option value="1" >1</option><option value="2"selected="selected">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                                    <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
                                    <option value="11">11</option><option value="12">12</option></select>월 </th>
                          <td>0</td>
                          <td>1</td>
                          <td>1</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                         </tr>
    
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
         </div>

            </div>



          </div>

        </div>
        <!-- /.container-fluid -->


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © 신지수, 이수빈, 안준영</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
        <!-- Demo scripts for this page-->
        <script src="js/demo/chart-bar-demo.js"></script>


  </body>

</html>
