<!DOCTYPE html>
<html lang="en">
  <% include ./header.ejs %>

  <script>
  var year = 
  </script>
  <body id="page-top">

<div id="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header" style="font-weight:bold">
                    인원 정보
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                            <form id="basicForm">
                                    <table summary="">
                                        <caption></caption>
                                        <colgroup>
                                            <col width="100px" />
                                            <col width="*%" />
                                            <col width="150px" />
                                            <col width="*px" />
                                            <col width="180px" />
                                            <col width="*%" />
                                            <col width="150px" />
                                            <col width="*%" />
                                            <col width="150px" />
                                            <col width="*%" />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th><span class="required">*</span>성명</th>
                                                <td>
                                                        <input type="text" class="form-control" />
                                                </td>
                                                <th><span class="required">  *</span>CNS/협력사</th>
                                                <td >
                                                     <select class="custom-select custom-select-sm form-control form-control-sm" style="width:180px;font-weight:bold">
                                                                <option value="Y">LG CNS</option><option value="N">협력사</option>
                                                    </select>
                                                </td>
                                                <th><span class="required">  *</span>소속부서/협력사명</th>
                                                    <td>
                                                            <input type="text" class="form-control" />
                                                    </td>
                                                <th><span class="required">  *</span>투입 사업팀</th>
                                                    <td>
                                                        <select class="custom-select custom-select-sm form-control form-control-sm" style="width:180px;font-weight:bold">
                                                                    <option value="Y">Y</option><option value="N">N</option>
                                                        </select>
                                                    </td>
                                                <th><span class="required">  *</span>등급</th>
                                                    <td>
                                                        <select class="custom-select custom-select-sm form-control form-control-sm" style="width:180px;font-weight:bold">
                                                                    <option value="Y">Y</option><option value="N">N</option>
                                                        </select>
                                                    </td>
                                            </tr>
        
                                        </tbody>
                                   </table>
                            
                                </form>
                    </div>
                </div>
            </div>
       </div>
       <div class="container-fluid">
            <div class="card mb-3">
                    <div class="card-header" style="font-weight:bold">
                        투입정보
                    </div>
                    <div class="card-body">
                            <table class="table table-bordered" id="dataTable1"  cellspacing="0">
                                    <colgroup>
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                 </colgroup>
                             <tbody>
                                    <tr>
                                        <th colspan="2">구분</th>
                                        <th>계</th>
                                        <th id="th1" >1월</th>
                                        <th id="th2">2월</th>
                                        <th id="th3">3월</th>
                                        <th id="th4">4월</th>
                                        <th id="th5">5월</th>
                                        <th id="th6">6월</th>
                                        <th id="th7">7월</th>
                                        <th id="th8">8월</th>
                                        <th id="th9">9월</th>
                                        <th id="th10">10월</th>
                                        <th id="th11">11월</th>
                                        <th id="th12">12월</th>
                                  </tr>
                                  <tr>
                                      <th rowspan="3">투입계획M/M</th>
                                      <td>2018</td>
                                <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>
                             <tr>
                               <td>2019</span></td>
                               <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>
                             <tr>
                               <td>2020</span></td>
                               <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>              
                       </tbody>
                      </table>
                    </div>

                    <div class="card-body">
                            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                    <colgroup>
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                 </colgroup>
                             <tbody>
                                    <tr>
                                        <th colspan="2">구분</th>
                                        <th>계</th>
                                        <th id="th1">1월</th>
                                        <th id="th2">2월</th>
                                        <th id="th3">3월</th>
                                        <th id="th4">4월</th>
                                        <th id="th5">5월</th>
                                        <th id="th6">6월</th>
                                        <th id="th7">7월</th>
                                        <th id="th8">8월</th>
                                        <th id="th9">9월</th>
                                        <th id="th10">10월</th>
                                        <th id="th11">11월</th>
                                        <th id="th12">12월</th>
                                  </tr>
                                  <tr>
                                      <th rowspan="3">실제투입M/M</th>
                                      <td>2018</span></td>
                                      <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>
                             <tr>
                               <td>2019</span></td>
                               <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>
                             <tr>
                               <td>2020</span></td>
                               <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                                 <td><input type="text" class="form-control" /></div></td>
                             </tr>              
                       </tbody>
                      </table>
                    </div>




                    </div>
       </div>
       <a class="btn btn-default" id = "btnadelete" href="#" onclick = "btnDelete()">저장</a>
    </div>
</body>

</html>
