
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>투입계획 OL보고용</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>기초소재 Mega TB 영역별 상세</span></a>
        </li>
      </ul>